[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
sphinxcontrib-fulltoc = "*"
sphinx-paramlinks = "*"
sphinx-gallery = "*"
sphinx-copybutton = "*"
twine = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"
pypandoc = "*"
flexlate = "*"
myst-parser = "*"
sphinx-material = "*"
py-app-conf = "*"
cookiecutter = "*"
gitpython = "*"
typer = "*"
rich = "*"
copier = "*"
markupsafe = "<2.1"
click = "<8.1"
typer-cli = "*"
pexpect = "*"
types-pyyaml = "*"
sphinxext-remoteliteralinclude = "*"
sphinx-terminhtml = "*"
