[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
sphinxcontrib-fulltoc = "*"
sphinx-paramlinks = "*"
sphinx-gallery = "*"
sphinx-copybutton = "*"
twine = "*"
pytest = "*"
mypy = "*"
pypandoc = "*"
myst-parser = "*"
sphinx-material = "*"
nox = "*"
flake8 = "*"
py-app-conf = "*"
cookiecutter = "*"
gitpython = "*"
typer = "*"
rich = "*"
copier = "<6"
markupsafe = "<2.1"
click = "<8.1"
typer-cli = "*"
pexpect = "*"
types-pyyaml = "*"
sphinxext-remoteliteralinclude = "*"
sphinx-terminhtml = "*"
flexlate = {editable = true, path = "."}
